.container{
margin-top: 0px;    
margin-bottom: 100px;

}
.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;

}
.background-img{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.carousel-item{
    padding: 20px 40px;
}
h3{
 padding: 5px 40px;   
}
small{
    padding: 5px 40px;
}
h4{
    text-align: center;
}
.card{
    border: none;
    padding: 20px 40px;
}
h2{
    text-align: center;
}
.row{
    margin-top: 20px;
}
.box-shadow{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 20px;
    padding: 10px;